name: earnsure_mobile
description: A worker-employer marketplace app
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: '>=3.0.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  provider: ^6.1.2
  http: ^1.1.0
  shared_preferences: ^2.2.2
  go_router: ^12.0.0
  flutter_launcher_icons: ^0.14.4

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^3.0.1

flutter:
  uses-material-design: true

flutter_launcher_icons:
  android:
    notification_icon: "icon"
  image_path: "assets/icon/icon.png"

